

/*VARIABLES*/

:root {
    --colourleft: #F1F2B5;
    --colourright: #135058;
}

/*CSS*/

html {
    min-height: 100%;
}

body {
    background: var(--colourleft);  /* old browsers fallback */
    background: -webkit-linear-gradient(to left, var(--colourright), var(--colourleft));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, var(--colourright), var(--colourleft));; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#control-panel {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 10px;
  background: #ffffff;
  background: rgba(255,255,255,0.6);
  text-align: center;
}

h1 {
    margin: 0;
    font-family: 'Codystar', cursive;
    color: #000000;
    font-weight: normal;
}

#colour-picker {
    margin-top: 20px;
}

.colours {
    width: 160px;
    display: inline-block;
}

.colour {
    width: 100px;
    margin: 0 auto;
}

.colour-block {
    width: 20px;
    height: 20px;
    float: left;
    background: var(--colourleft);
}

#colour-one .colour-block {
    background: var(--colourleft);
}

#colour-two .colour-block {
    background: var(--colourright);
}
